<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= version %></h1>
    <p>Complian to: <a href="https://github.com/AleAlves">Aleson Alves</a></p>
  </body>
</html>
